langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-google-genai
langchain-groq
langgraph
faiss-cpu
pandas
streamlit
python-dotenv
pymupdf
qdrant-client
langchain-qdrant
requests

mistralai
fastapi
uvicorn[standard]
python-multipart
chromadb
langchain-chroma
sentence-transformers
pillow
pdf2image
plotly
torch
torchvision