langchain
langchain-community
langchain-google-genai
langchain-groq
streamlit
python-dotenv
pymupdf
qdrant-client
langchain-qdrant
requests

mistralai
fastapi
uvicorn[standard]
python-multipart
chromadb
langchain-chroma
sentence-transformers
pillow
pdf2image
plotly
